.logo {
  // margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $title-text-color;

  transition: color $timing $timing-function;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &__web {
    color: $accen-color;
  }

  &:hover,
  &:focus {
    color: $accen-color;
  }
}
.logo--black {
  color: $title-text-color;
}
.logo {
  font-family: raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;

  color: $accen-color;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
