$primary-whit-color: #ffffff;
$title-text-color: #212121;
$accen-color: #2196f3;
$primary-text-color: #757575;
$secondary-bg-color: #f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$timing: 250ms;
$bg-backgrop: rgba(0, 0, 0, 0.2);
$bg-hero: #2f303a;
$bg-networks-link: #afb1b8;
